In [1]:
import sys
sys.path.append('/Users/Sosa/Repos/project-visualizing-real-world-data/')

In [2]:
import Test as shw

In [ ]:
data = shw.get_shows_data(n=5, genres='Rock')

In [9]:
df = shw.shows_dataframe(data)

In [10]:
df.head()

,artist,date,time,venue,city,lat,lng,relevance
0,Daft Punk,1995-10-12,NaT,Astoria,"London, UK",51.515885,-0.130471,headline
1,Daft Punk,1996-05-24,NaT,Unknown venue,"Blue River, WI, US",NaN,NaN,headline
2,Daft Punk,1996-06-29,NaT,Unknown venue,"Luton, UK",51.878670,-0.420030,headline
3,Daft Punk,1997-01-18,NaT,The Stage Door,"Stoke On Trent, UK",53.025033,-2.178129,headline
4,Daft Punk,1997-05-24,NaT,Unknown venue,"Luton, UK",51.878671,-0.420025,headline

In [11]:
df.groupby('artist').count()

              date  time  venue  city  lat  lng  relevance
artist
Daft Punk       79     1     79    79   61   61         79
Kanye West     467   250    467   467  424  424        467
Stardust       310    39    310   310  275  275        310
Wu-Tang Clan   503   342    503   503  464  464        503